@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	 margin: 0;
	 padding: 0;
	 -webkit-box-sizing: border-box;
	 box-sizing: border-box;
	 outline: none;
	 font-family: Poppins, sans-serif;
	 scroll-behavior: smooth;
}
 :root {
	 --black-color: #1e1c1c;
	 --white-color: #f7f7f7;
	 --blue-color: #001c4a;
	 --skyBlue-color: #68a6d4;
	 --normalBlue-color: #006ab9;
	 --gray-color: #eee;
}
 nav .container {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 margin: auto;
	 padding: 1rem 2rem;
	 padding-right: 3rem;
	 border-bottom: 4px solid var(--normalBlue-color);
}
 nav .container img {
	 height: 4rem;
}
 @media screen and (max-width: 500px) {
	 nav .container img {
		 height: 2.5rem;
	}
}
 nav .container ul {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 gap: 1.5rem;
	 list-style: none;
}
 nav .container ul li a {
	 text-decoration: none;
	 color: var(--black-color);
	 -webkit-transition: 200ms all;
	 -o-transition: 200ms all;
	 transition: 200ms all;
	 font-weight: 500;
}
 nav .container ul li a:hover {
	 color: var(--normalBlue-color);
}
 nav .container ul #aboutNav {
	 position: relative;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 padding: 0.5rem 0;
}
 nav .container ul #aboutNav ul {
	 position: absolute;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 gap: 0rem;
	 top: 5rem;
	 opacity: 0;
	 background-color: var(--blue-color);
	 border: none;
	 overflow: hidden;
	 border-radius: 3px;
	 -webkit-transition: 450ms all;
	 -o-transition: 450ms all;
	 transition: 450ms all;
	 z-index: -999;
}
 nav .container ul #aboutNav ul li {
	 text-wrap: nowrap;
	 padding: 0.8rem;
	 -webkit-transition: 200ms all;
	 -o-transition: 200ms all;
	 transition: 200ms all;
	 border-bottom: 1px solid var(--skyBlue-color);
}
 nav .container ul #aboutNav ul li:last-child {
	 border-bottom: none;
}
 nav .container ul #aboutNav ul li:hover {
	 background-color: var(--skyBlue-color);
}
 nav .container ul #aboutNav ul li a {
	 padding: 0.8rem;
	 color: var(--white-color);
}
 nav .container ul #aboutNav:hover ul {
	 top: 2.5rem;
	 opacity: 1;
	 z-index: 999;
}
 nav .container #Nab-bar {
	 font-size: 1.4rem;
	 cursor: pointer;
	 display: none;
}
 @media screen and (max-width: 915px) {
	 nav .container #Nab-bar {
		 display: block;
	}
	 nav .container ul {
		 display: none;
	}
}
 .nav-responsive {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 999;
	 background-color: #fff;
	 height: 100vh;
	 overflow: hidden;
	 -webkit-transition: 200ms all;
	 -o-transition: 200ms all;
	 transition: 200ms all;
	 max-width: 0rem;
	 width: 100%;
}
 .nav-responsive .main {
	 border-right: 3px solid var(--normalBlue-color);
	 padding: 1rem;
	 height: 100vh;
}
 .nav-responsive .main a img {
	 height: 4rem;
}
 .nav-responsive .main ul {
	 list-style: none;
	 padding-top: 2rem;
}
 .nav-responsive .main ul li {
	 padding: 0.3rem;
}
 .nav-responsive .main ul li a {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 width: 100%;
	 padding: 0.6rem;
	 text-decoration: none;
	 -webkit-transition: 200ms all;
	 -o-transition: 200ms all;
	 transition: 200ms all;
	 border-radius: 7px;
}
 .nav-responsive .main ul li a:hover {
	 background-color: var(--blue-color);
	 color: var(--white-color);
}
 .nav-responsive .main .fa-xmark {
	 position: absolute;
	 top: 2.4rem;
	 font-size: 1.4rem;
	 right: 2rem;
	 cursor: pointer;
	 padding: 0.2rem;
}
 .nav-responsive-close {
	 max-width: 21rem;
}
 .accountOpen {
	 background-color: #fff;
	 max-width: 80rem;
	 margin: 0 auto;
	 padding: 3rem;
}
 .accountOpen h1 {
	 font-size: clamp(1.5rem, -0.875rem + 8.333vw, 3rem);
	 line-height: 3rem;
	 color: var(--blue-color);
}
 @media screen and (max-width: 500px) {
	 .accountOpen h1 {
		 line-height: 2rem;
	}
}
 .accountOpen .divider {
	 width: 10rem;
	 height: 4px;
	 background-color: var(--normalBlue-color);
	 margin: 0.5rem 0 1rem 0;
}
 .accountOpen p {
	 color: var(--normalBlue-color);
	 font-weight: 500;
	 max-width: 65rem;
	 padding-bottom: 1rem;
}
 .accountOpen u {
	 text-decoration: none;
}
 .openAnAccountShouldBeEasy {
	 margin-top: 0rem;
	 background-color: var(--gray-color);
}
 .openAnAccountShouldBeEasy .main {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 max-width: 80rem;
	 margin: auto;
	 padding: 3rem;
	 gap: 2rem;
}
 .openAnAccountShouldBeEasy .main img {
	 max-width: 40%;
	 width: 100%;
	 border-radius: 7px;
	 -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
 .openAnAccountShouldBeEasy .main .content {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
}
 .openAnAccountShouldBeEasy .main .content h1 {
	 font-size: clamp(1.5rem, -0.875rem + 8.333vw, 2rem);
	 color: var(--blue-color);
	 font-weight: 700;
}
 .openAnAccountShouldBeEasy .main .content a {
	 text-decoration: none;
	 color: var(--normalBlue-color);
	 font-weight: 500;
	 padding-bottom: 1rem;
}
 .openAnAccountShouldBeEasy .main .content p {
	 font-size: 0.9rem;
	 padding-bottom: 0.5rem;
}
 @media screen and (max-width: 800px) {
	 .openAnAccountShouldBeEasy .main {
		 -webkit-box-orient: vertical;
		 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
		 flex-direction: column;
	}
	 .openAnAccountShouldBeEasy .main img {
		 max-width: 100%;
	}
}
 @media screen and (max-width: 500px) {
	 .openAnAccountShouldBeEasy .main {
		 padding: 1rem;
	}
	 .openAnAccountShouldBeEasy .main .content {
		 gap: 0.5rem;
	}
	 .openAnAccountShouldBeEasy .main .content h1 {
		 line-height: 2rem;
	}
}
 @media screen and (max-width: 500px) {
	 .accountOpen {
		 padding: 2rem 1rem;
	}
}
 footer {
	 max-width: 80rem;
	 margin: auto;
	 padding: 3rem;
	 padding-bottom: 2rem;
}
 footer .top {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
	 row-gap: 2rem;
}
 footer .top .links {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 gap: 0.5rem;
}
 footer .top .links i {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 border-radius: 7px;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 width: 3rem;
	 font-size: 1.4rem;
	 height: 3rem;
	 background-color: var(--blue-color);
	 color: var(--skyBlue-color);
	 -webkit-transition: 300ms all;
	 -o-transition: 300ms all;
	 transition: 300ms all;
	 cursor: pointer;
}
 footer .top .links i:hover {
	 color: var(--white-color);
	 scale: 1.1;
}
 footer .top .content {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 gap: 3rem;
	 -ms-flex-wrap: wrap;
	 flex-wrap: wrap;
}
 footer .top .content .f, footer .top .content .s, footer .top .content .t, footer .top .content .fo {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
}
 footer .top .content .f h2, footer .top .content .s h2, footer .top .content .t h2, footer .top .content .fo h2 {
	 padding-bottom: 1rem;
}
 footer .top .content .f a, footer .top .content .s a, footer .top .content .t a, footer .top .content .fo a {
	 text-decoration: none;
	 color: var(--normalBlue-color);
	 padding: 0.15rem;
	 -webkit-transition: 200ms all;
	 -o-transition: 200ms all;
	 transition: 200ms all;
}
 footer .top .content .f a:hover, footer .top .content .s a:hover, footer .top .content .t a:hover, footer .top .content .fo a:hover {
	 color: var(--blue-color);
	 padding-left: 0.5rem;
}
 footer .top .content .fo a:hover {
	 padding-left: unset;
}
 @media screen and (max-width: 600px) {
	 footer .top .content {
		 -webkit-box-pack: unset;
		 -ms-flex-pack: unset;
		 justify-content: unset;
		 gap: 1.7rem;
	}
	 footer .top .content .f, footer .top .content .s, footer .top .content .t, footer .top .content .fo {
		 display: -webkit-box;
		 display: -ms-flexbox;
		 display: flex;
		 -webkit-box-orient: vertical;
		 -webkit-box-direction: normal;
		 -ms-flex-direction: column;
		 flex-direction: column;
	}
	 footer .top .content .f h2, footer .top .content .s h2, footer .top .content .t h2, footer .top .content .fo h2 {
		 padding-bottom: 0.1rem;
	}
}
 footer .bottom {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 padding-top: 5rem;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 text-align: center;
	 gap: 1rem;
}
 footer .bottom a img {
	 height: 5rem;
}
 footer .bottom p {
	 color: var(--normalBlue-color);
	 max-width: 40rem;
	 width: 100%;
	 font-size: 0.8rem;
}
 footer .bottom p:last-child {
	 font-size: 1rem;
	 color: var(--black-color);
}
 @media screen and (max-width: 500px) {
	 footer {
		 padding: 3rem 1rem;
	}
	 footer .top .content .f, footer .top .content .s, footer .top .content .t, footer .top .content .fo {
		 width: 100%;
	}
	 footer .bottom {
		 padding-top: 2rem;
	}
}
 